@model UnitViewModel;

@{
    ViewData["Title"] = "افزودن/ویرایش واحد";
}


<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">افزودن واحد</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form method="post" asp-action="CreateEditUnit" asp-controller="Unit">
        <div class="modal-body">
            <div class="form-group">
                <input type="hidden" name="id" asp-for="Id">

                <label class="form-label" asp-for="UnitName">نام واحد</label>
                <input class="form-control" type="text" asp-for="UnitName" required />
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">انصراف</button>
            <input type="hidden" name="id" value="Id">
            <button id="unitSubmit" type="submit" class="btn btn-primary" asp-action="CreateEditUnit" asp-controller="Unit">ذخیره</button>
        </div>
    </form>
</div>

